section {
    background: var(--color-bg);
}
.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.service {
    background: var(--color-bg-variant);
    padding: 2.4rem 3rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    height: 100%;
    transition: var(--transition);
    color: var(--color-white);
}
.service:hover {
    background: var(--color-bg);
    border: 1px solid var(--color-primary);
    cursor: default;
}
section h2::after {
    content: "";
    display: block;
    width: 9rem;
    height: 3px;
    background: var(--color-primary-variant);
    margin: 0.5rem auto;
}
.service__head {
    color: var(--color-primary-variant);
    font-size: 1.3rem;
}
.service__head h3{
    color: var(--color-primary);
    font-size: 1.5rem;
    text-align: center;
}
.service__head h3::after {
    content: "";
    display: block;
    height: 3px;
    background: var(--color-primary-variant);
    margin: 0.5rem auto;
}
.service__head h3:hover {
    color: var(--color-bg-variant);
}
.service__head small {
    color: var(--color-white);
    font-size: 1.2rem;
    text-align: center;
}

section.light {
    background:  #f5f5f5;
    color: #000;
}
/* .light small, .light h3{
    color: #000;
} */

/* media query (medium devices)*/
@media screen and (max-width: 1024px) {
   .services__container{
         grid-template-columns: 1fr;
   }
   .service{
    height: auto;
   }
}


/* media query (small devices)*/
@media screen and (max-width: 600px) {
    
}
   